.song-list {
    list-style-type: none;
    padding: 0;
}

.song-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.song-thumbnail {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin-right: 10px;
    border-radius: 8px;
}

.song-title {
    margin: 0;
    font-weight: bold;
}

.song-artist {
    margin: 0;
}

.icon {
    margin-left: auto;
}

/* Style for heart and star icons */
.icon i {
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    margin-left: 5px;
}










.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(
        0,
        0,
        0,
        0.4
    );
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}